tbody {
    transition-duration: 0.2s;
}

.top-middle{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
}

/*validation text size*/

.has-text-danger{
    font-size: 0.75rem
}

/*pagination*/

.pager .pagination>li>a,
.pager .pagination>li>span {
    color: #005ebd;
}
.pagination>li.page-item.active>a {
    border: 1px solid #005ebd;
  background: #005ebd;
  color: #fff;
}
